*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* Header,prima parte di esercizio */
header{
    max-width: 2000px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style-type: none;
    display: inline-block;
    margin: 20px;
}

.inizia{
    background-color:#0464fc ;
    border: 1px solid #0464fc;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
}


/* Main, Seconda parte di esercizio */

.main-container {
    max-width: 2500px;
    background-color: rgb(140, 221, 194);
    padding-top: 60px;
    position: relative;
    
}

.intestazione-principale{
    font-size: 400%;
    width:50%;
    margin-left:25%;
}

.container-grande{
    width: 70%;
    display:flex;
    margin: 0 auto;
}

.colonna70{
    width: 70%;
    padding-top: 40px;
    height: 350px;
}

.colonna30{
    width: 30%;
    padding-top: 40px;
    line-height: 20px;
}

.secondcontainer{
    width: 90%;
    display:flex;
    margin: 300px auto;   
    flex-wrap: wrap;
}

.container-piccolo{
    width: 50%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}

.colonna25{
    width: 30%;
    height: 1000px;
    background-color: aqua;
    border: 1px solid black;
}

.testacolonna{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

.containercolonna{
    padding: 20px;
    
}

/* Main, terza parte di esercizio */

.container-enterprise{
    display: flex;
    width: 100%;

}


.colonna100{
    width: 100%;
    text-align: center;
    display: flex;
}

.colonna80{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.colonna20{
    width: 20%;
}

/* Main, Quarta parte di esercizio */

.colonna50{
    width: 50%;
    background-color: aquamarine;
    object-fit: contain;
}


/* Utility */
.mtop-10{
    margin-top: 10px;
}


.mtop-15{
    margin-top: 15px;
}

.mtop-30{
    margin-top: 30px;
}

.mtop-50{
    margin-top: 50px;
}

.mtop-70{
    margin-top: 70px;
}

.mright-60{
    margin-right: 60px;
}

.mright-40{
    margin-right: 40px;
}

.mbot-30{
    margin-bottom: 30px;
}

.mbot-15{
    margin-bottom: 15px;
}

.p{
    padding: 10px;
}

.fontgrande{
    font-size: 50px;
}
 img{
    width: 100%;    
}

.inline-block{
    display: inline-block;
}

.grassetto{
    font-weight: bolder;
}

.grigio{
    color: rgb(11, 11, 11);
}

.blue{
    color: blue;
}

hr{
    width: 20%;
}

.text-left{
    text-align: left;
}

.text-center{
    text-align: cen;
}

.text-right{
    text-align: right;
}

.inline-block{
    display: inline-block;
}

.larghezza{
    width: 100%;
}