*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

/* Header,prima parte di esercizio */
header{
    max-width: 2000px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li{
    list-style-type: none;
    display: inline-block;
    margin: 20px;
}

.inizia{
    background-color:#0464fc ;
    border: 1px solid #0464fc;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
}

/* Main, Seconda parte di esercizio */

.main-container {
    max-width: 2000px;
    background-color: aquamarine;
    height: 500px;
    padding-top: 60px;
   
}

h1{
    font-size: 400%;
    width:50%;
    margin-left:25%
    
;
    
}

.container-grande{
    width: 50%;
    display:flex;
    margin: 0 auto;
    
}

.colonna70{
    width: 70%;
    background-color: black;
    height: 100px;
    
    
}

.colonna30{
    width: 30%;
    background-color: blue;
    height: 100px;
    
}